/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #500;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #460; /* Gold color when hovered */
}

section {
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #333;
    color: white;
}
